@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}